---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$jr-grey: #212121;
$jr-white: #ffffff;
$jr-content: #ffffff;
$jr-pink: #ae81ff;

$pad: 1rem;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "elements",
  "layout",
  "syntax-highlighting"
;