<footer class="site-footer">
    <div class="site-desc">{{ site.description }}</div>
    <div class="site-copyright">Copyright &copy; 2013 - 2021 Jared Rigby</div>
</footer>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

<!-- Google Analytics -->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-38035780-1', 'auto');
    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
    