    <div class="focus focus--project">
      <div class="wrapper">
          <h2 class="focus__title">Recent projects</h2>
          <ul class="feature">
            <li class="feature__item">
              <a class="feature__link feature__link--project" href="/projects/education/hello-world-17">
                <img class="feature__img" src="../assets/projects/helloworld/HW_web_banner.jpg" alt="">
                <span class="feature__title">Hello World</span>
              </a>
            </li>
            <li class="feature__item">
                <a class="feature__link feature__link--project" href="/projects/software/end-of-the-line">
                    <img class="feature__img" src="../assets/projects/end-of-the-line/title-screen.png" alt="">
                    <span class="feature__title">End of the line</span>
                </a>
            </li>
            <li class="feature__item">
                <a class="feature__link feature__link--project" href="/projects/education/dhsz-ctf">
                    <img class="feature__img" src="../assets/projects/dhsz-ctf/pexels-pixabay-60504.jpg" alt="">
                    <span class="feature__title">DHSZ CTF 2021</span>
                </a>
            </li>
          </ul>
      </div>
    </div>