    <div class="focus focus--project">
      <div class="wrapper">
          <h2 class="focus__title">Recent projects</h2>
          <ul class="feature">
            <li class="feature__item">
              <a class="feature__link feature__link--project" href="/projects/education/hello-world-17">
                <img class="feature__img" src="/assets/projects/helloworld/HW_web_banner.jpg" alt="">
                <span class="feature__title">Hello World</span>
              </a>
            </li>
            <li class="feature__item">
                <a class="feature__link feature__link--project" href="/projects/software/sixty-second-shump">
                    <img class="feature__img" src="/assets/projects/sixty-second-shump/ShumpTitle.png" alt="">
                    <span class="feature__title">Sixty Second Shump</span>
                </a>
            </li>
            <li class="feature__item">
                <a class="feature__link feature__link--project" href="/projects/software/monster-match">
                    <img class="feature__img" src="/assets/projects/monster-match/monster-match.png" alt="">
                    <span class="feature__title">Monster Match</span>
                </a>
            </li>
          </ul>
      </div>
    </div>