html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $jr-grey;
	color: $jr-content;
	font-family: 'Anonymous Pro', monospace;
	line-height: 1.4;
	font-size: 1rem;
}

a {
	color: $jr-pink;
	transition: color 0.4s ease;

	&:hover {
		color: $jr-white;
	}

	.light & {
		color: $jr-pink;
	}
}

p {
	margin-bottom: $pad;
}

small {
	font-size: 90%;
}

strong {
	font-weight: bold;
}

ol {
	padding-left: $pad*3;
	list-style: decimal-leading-zero;
	margin-bottom: $pad;

	li {
		padding-left: $pad*0.5;
		margin-bottom: $pad/4;
	}
}

ul {
	padding-left: $pad;
	list-style: square;
	margin-bottom: $pad;

	li {
		padding-left: $pad*0.5;
	}
}

em {
	font-style: italic;
}

td {
	&:not(:first-child),
	&:not(:last-child) {
		padding: $pad/2 $pad;
	}

	&:first-child {
		padding: $pad/2 $pad $pad/2 0;
	}

	&:last-child {
		padding: $pad/2 0 $pad/2 $pad;
	}
}

code {
	background-color: lighten($jr-grey, 10%);
	padding: $pad/4 $pad/3;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}