html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $jr-grey;
	color: $jr-content;
	font-family: 'Anonymous Pro', monospace;
	line-height: 1.4;
}

a {
	color: $jr-white;
}

p {
	margin-bottom: $pad;
}

small {
	font-size: 90%;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

td {
	&:not(:first-child),
	&:not(:last-child) {
		padding: $pad/2 $pad;
	}

	&:first-child {
		padding: $pad/2 $pad $pad/2 0;
	}

	&:last-child {
		padding: $pad/2 0 $pad/2 $pad;
	}
}