<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Jared Rigby</title>
    <link rel="stylesheet" href="/css/style.css">
    {% include favicon.html %}
  </head>
  <body>
    
    {% include header.html %} 
  
    <div class="hero">
      <div class="hero__content wrapper">
        <div class="hero__text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="hero__image">
          <img src="../assets/undraw_Code_thinking_re_gka2.svg" alt="">
        </div>
      </div>
    </div>

    <div class="focus focus--project">
      <div class="wrapper">
          <h2 class="focus__title">Recent projects</h2>
          <ul class="feature">
              <li class="feature__item">
                  <a class="feature__link feature__link--project" href="/projects/software/end-of-the-line">
                      <img class="feature__img" src="../assets/projects/end-of-the-line/title-screen.png" alt="">
                      <span class="feature__title">End of the line</span>
                  </a>
              </li>
              <li class="feature__item">
                  <a class="feature__link feature__link--project" href="/projects/education/dhsz-ctf">
                      <img class="feature__img" src="../assets/projects/dhsz-ctf/pexels-pixabay-60504.jpg" alt="">
                      <span class="feature__title">DHSZ CTF 2021</span>
                  </a>
              </li>
              <li class="feature__item">
                  <a class="feature__link feature__link--project" href="/projects/hardware/rpi-pico-hitbox">
                      <img class="feature__img" src="../assets/projects/hitbox/Raspberry-Pi-Pico-at-an-angle-500x357.webp" alt="">
                      <span class="feature__title">RPi Pico Hitbox</span>
                  </a>
              </li>
          </ul>
      </div>
    </div>
    
    {% include footer.html %}

  </body>
</html>