<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Jared Rigby</title>
    <link rel="stylesheet" href="/css/style.css">
    {% include favicon.html %}
  </head>
  <body>
    
    {% include header.html %} 
  
    <div class="hero">
      <div class="hero__content wrapper">
        <div class="hero__text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="hero__image">
          <img src="../assets/undraw_Code_thinking_re_gka2.svg" alt="">
        </div>
      </div>
    </div>

    {% include recents.html %}
    
    {% include footer.html %}

  </body>
</html>